/* ==================================================
	 Andy Bell Modern CSS Reset
	 ================================================== */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd,
ul,
ol {
  margin: 0;
}

/* Adjust line heights */
h1,
.h1,
h2,
.h2,
h3,
.h3 {
  line-height: 1.2;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  padding-left: 0;
  list-style: none;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
}

/* Make images easier to work with */
img,
picture {
  display: block;
  max-width: 100%;
}

img[width] {
  width: auto;
  /* Defer to max-width */
}

img[width][height] {
  height: auto;
  /* Preserve aspect ratio */
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  *,
*::before,
*::after {
    transition-duration: 0.01ms !important;
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    scroll-behavior: auto !important;
  }
}
/* ==================================================
	Global Styles
	================================================== */
/* 	Custom Properties
   	================================================== */
:root {
  /* Colors */
  --clr-primary-100: hsla(180, 29%, 50%, 1);
  --clr-neutral-100: hsla(0, 0%, 100%, 1);
  --clr-neutral-200: hsla(180, 31%, 95%, 1);
  --clr-neutral-300: hsla(180, 52%, 96%, 1);
  --clr-neutral-400: hsla(180, 8%, 52%, 1);
  --clr-neutral-500: hsla(180, 14%, 20%, 1);
  --clr-neutral-600: hsla(0, 0%, 0%, 1);
  /* Spacing */
  --spacer: 1rem;
  /* Font sizes */
  --step--1: clamp(0.73rem, 0.7rem + 0.11vw, 0.8rem);
  --step-0: clamp(0.88rem, 0.83rem + 0.19vw, 1rem);
  --step-1: clamp(1.05rem, 0.98rem + 0.3vw, 1.25rem);
  /* Font-families */
  --ff-body: "Spartan", sans-serif;
}

/* Base Styles
   ================================================== */
body {
  background-color: var(--clr-neutral-300);
  font-family: var(--ff-body);
  font-size: var(--step-0);
}

h2 {
  font-size: var(--step--1);
  color: var(--clr-primary-100);
}

main {
  margin-bottom: 6rem;
}

h3 a {
  font-size: var(--step-1);
  text-decoration: none;
  color: var(--clr-neutral-500);
}
h3 a:hover {
  color: var(--clr-primary-100);
}

/* ==================================================
	Utilities
	================================================== */
/* Center main content on page */
.center-content {
  display: grid;
  grid-template-rows: min-content;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1440px) minmax(0, 1fr);
}
.center-content > * {
  grid-column: 2;
}

/* Add left and right padding to element */
.container {
  padding-right: clamp(1rem, 5%, 4rem);
  padding-left: clamp(1rem, 5%, 4rem);
}

/* Add vertical rhythm between sections */
.flow-section > * + * {
  margin-top: 3rem;
}
@media (min-width: 50em) {
  .flow-section > * + * {
    margin-top: 2rem;
  }
}

/* Add vertical rhythm inside elements */
.flow-content > * + * {
  margin-top: 1em;
}

/* Text accessible only for screen readers */
.visually-hidden {
  position: absolute !important;
  width: 1px;
  height: 1px;
  overflow: hidden;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
}

.visually-hidden:hover,
.visually-hidden:active,
.visually-hidden:focus {
  display: block;
  top: 5px;
  left: 5px;
  z-index: 100000;
  /* Above WP toolbar */
  width: auto;
  height: auto;
  padding: 15px 23px 14px;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  background-color: #f1f1f1;
  font-size: 14px;
  font-weight: bold;
  line-height: normal;
  text-decoration: none;
  color: currentColor;
  clip: auto !important;
}

/* Add styled focus states on tab not hover */
:focus-visible {
  outline: 3px dotted currentColor;
  outline-offset: 0.25rem;
}

:focus:not(:focus-visible) {
  outline: transparent;
}

/* Align flex children at small and large viewports */
.split {
  display: flex;
  gap: var(--spacer);
  flex-wrap: wrap;
  align-items: baseline;
}

/* ==================================================
   Blocks
   ================================================== */
/* 	Header
   	================================================== */
.header {
  grid-column: 1/-1;
  padding-top: 7rem;
  background-color: var(--clr-primary-100);
  background-image: url(../../images/bg-header-desktop.svg);
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 2rem;
}

/* 	Job Card
   	================================================== */
.posting > li {
  display: grid;
  grid-template-rows: repeat(4, auto);
  align-items: center;
  gap: var(--spacer);
  padding-top: clamp(0.5rem, 2.5%, 2rem);
  padding-bottom: clamp(0.5rem, 2.5%, 2rem);
  box-shadow: 0 1em 1em rgba(44, 58, 58, 0.2);
  background-color: var(--clr-neutral-100);
}
@media (min-width: 50em) {
  .posting > li {
    grid-template-rows: repeat(3, auto);
    grid-template-columns: auto auto 1fr;
    grid-auto-flow: column;
  }
}
.posting > li .logo {
  max-width: 3rem;
  margin-top: -1.5rem;
}
@media (min-width: 50em) {
  .posting > li .logo {
    grid-area: 1/1/-1/2;
    max-width: 100%;
    margin-top: 0;
  }
}
.posting > li .highlight,
.posting > li .promoted {
  display: inline-block;
  padding: 0.5em 0.75em;
  border-radius: 1em;
  font-size: var(--step--1);
  font-weight: 700;
  line-height: 0.73rem;
  text-transform: uppercase;
  color: var(--clr-neutral-100);
}
.posting > li .highlight {
  background-color: var(--clr-primary-100);
}
.posting > li .promoted {
  background-color: var(--clr-neutral-600);
}
.posting > li .age,
.posting > li .time,
.posting > li .location {
  color: var(--clr-neutral-400);
}
@media (min-width: 50em) {
  .posting > li .form {
    grid-area: 1/-2/-1/-1;
  }
}

/* Form
   ------------------- */
.form {
  gap: 0.5rem;
}
@media (min-width: 50em) {
  .form {
    justify-content: flex-end;
  }
}
.form fieldset {
  padding: 0;
  border: none;
}
.form label {
  position: relative;
  padding: 0.5em 0.75em;
  background-color: rgba(91, 164, 164, 0.15);
  font-size: var(--step--1);
  font-weight: 700;
  line-height: 1rem;
  color: var(--clr-primary-100);
  cursor: pointer;
}
.form label:hover {
  background-color: var(--clr-primary-100);
  color: var(--clr-neutral-100);
}
.form label:focus-visible {
  outline: 3px dotted red;
  outline-offset: 0.25rem;
}
.form input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 90%;
  height: 80%;
  cursor: pointer;
}

/* 	Filter
   	================================================== */
.filter {
  display: flex;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: var(--clr-neutral-100);
  transform: translateY(50%);
  box-shadow: 0 1em 1em rgba(44, 58, 58, 0.2);
  display: none;
}
.filter button {
  margin-left: auto;
  border: none;
  color: var(--clr-primary-100);
  font-size: var(--step--1);
  background-color: transparent;
  cursor: pointer;
}
.filter button:hover {
  text-decoration: underline;
}
