@import "reset";

/* ==================================================
	Global Styles
	================================================== */

@import "abstracts/variables";
@import "abstracts/breakpoints";

/* Base Styles
   ================================================== */

body {
	background-color: var(--clr-neutral-300);
	font-family: var(--ff-body);
	font-size: var(--step-0);
}

h2 {
	font-size: var(--step--1);
	color: var(--clr-primary-100);
}

main {
	margin-bottom: 8rem;
}

a {
	transition: color 2000ms;
	font-size: var(--step-1);
	text-decoration: none;
	color: var(--clr-neutral-500);

	&:hover {
		color: var(--clr-primary-100);
	}
}

/* ==================================================
	Utilities
	================================================== */

@import "utilities/center-content";
@import "utilities/container";
@import "utilities/flow-section";
@import "utilities/flow-content";
@import "utilities/visually-hidden";
@import "utilities/outline";
@import "utilities/split";

/* ==================================================
   Blocks
   ================================================== */

@import "blocks/header";
@import "blocks/job-card";
@import "blocks/form";
@import "blocks/filter";
