/* 	Filter
   	================================================== */
.filter {
	display: flex;
	align-items: center;
	padding-top: 2rem;
	padding-bottom: 2rem;
	background-color: var(--clr-neutral-100);
	transform: translateY(50%);
	box-shadow: 0 1em 1em hsla(180, 14%, 20%, 0.2);

	button {
		margin-left: auto;
		border: none;
		color: var(--clr-primary-100);
		font-size: var(--step--1);
		background-color: transparent;
		cursor: pointer;

		&:hover {
			text-decoration: underline;
		}
	}
}
