/* 	Filter
   	================================================== */

.filters {
	position: absolute;
	display: none;
	right: clamp(1rem, 5%, 4rem);
	left: clamp(1rem, 5%, 4rem);
	align-items: center;
	justify-content: space-between;
	gap: 2rem;
	padding-top: 1.25rem;
	padding-bottom: 1.25rem;
	box-shadow: 0 1em 1em hsla(180, 14%, 20%, 0.2);
	background-color: var(--clr-neutral-100);
	transform: translateY(-50%);

	label {
		position: relative;
		display: flex;
		align-items: center;
		padding-right: 3.5em;
		transition: background-color 250 ease-out, color 300ms ease-out, transform 250ms cubic-bezier(0, 0.26, 0.13, 1.55);
	}

	img {
		position: absolute;
		top: 0;
		right: 0;
		height: 100%;
		padding: 0.5em;
		background-color: var(--clr-primary-100);
		transition: background-color 150ms ease-out;
		pointer-events: none;
	}

	label:hover img {
		background-color: var(--clr-neutral-600);
	}

	button {
		padding-top: 0.35em;
		border: none;
		background-color: transparent;
		font-size: var(--step--1);
		color: var(--clr-primary-100);
		cursor: pointer;

		&:hover {
			text-decoration: underline;
		}
	}
}
