/* Form
   ------------------- */
.form {
	gap: 0.5rem;

	@include respond-to("medium") {
		justify-content: flex-end;
	}

	fieldset {
		padding: 0;
		border: none;
	}

	label {
		position: relative;
		padding: 0.5em 0.75em 0.25em;
		background-color: hsla(180, 29%, 50%, 0.15);
		transition: background-color 250ms ease-out, color 300ms ease-out, transform 250ms cubic-bezier(0, 0.26, 0.13, 1.55);
		font-size: var(--step--1);
		font-weight: 700;
		line-height: 1rem;
		color: var(--clr-primary-100);
		cursor: pointer;

		&:hover {
			background-color: var(--clr-primary-100);
			transform: scale(1.05);
			color: var(--clr-neutral-100);
		}

		&:focus-within {
			outline: 5px dotted var(--clr-primary-100);
			outline-offset: 0.25rem;
		}

		&::before {
			content: "";
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			opacity: 0;
			box-shadow: 0 0.5em 0.75em hsla(180, 14%, 40%, 0.3);
			transition: opacity 250ms ease-in-out;
		}

		&:hover::before,
		&:focus-within::before {
			opacity: 1;
		}
	}

	input {
		position: absolute;
		top: 0;
		left: 0;
		opacity: 0;
		width: 90%;
		height: 80%;
		cursor: pointer;
	}
}
