/* Form
   ------------------- */
.form {
	gap: 0.5rem;

	@include respond-to("medium") {
		justify-content: flex-end;
	}

	fieldset {
		padding: 0;
		border: none;
	}

	label {
		position: relative;
		padding: 0.5em 0.75em 0.25em;
		background-color: hsla(180, 29%, 50%, 0.15);
		transition: all 200ms;
		font-size: var(--step--1);
		font-weight: 700;
		line-height: 1rem;
		color: var(--clr-primary-100);
		cursor: pointer;

		&:hover {
			background-color: var(--clr-primary-100);
			color: var(--clr-neutral-100);
		}

		&:focus-within {
			outline: 5px dotted var(--clr-primary-100);
			outline-offset: 0.25rem;
		}
	}

	input {
		position: absolute;
		top: 0;
		left: 0;
		opacity: 0;
		width: 90%;
		height: 80%;
		cursor: pointer;
	}
}
