/* 	Header
   	================================================== */
.header {
	grid-column: 1 / -1;
	padding-top: 5rem;
	background-color: var(--clr-primary-100);
	background-image: url(../../images/bg-header-desktop.svg);
	margin-bottom: 2rem;
}
