/* 	Job Card
   	================================================== */

.posting {
	display: grid;
	grid-template-rows: repeat(4, auto);
	gap: var(--spacer);
	background-color: var(--clr-neutral-100);
	padding-top: clamp(0.5rem, 2.5%, 2rem);
	padding-bottom: clamp(0.5rem, 2.5%, 2rem);

	@include respond-to("medium") {
		grid-auto-flow: column;
		grid-template-rows: repeat(3, auto);
		grid-template-columns: auto 1fr 1fr;
	}

	.logo {
		margin-top: -1.5rem;
		max-width: 3rem;

		@include respond-to("medium") {
			margin-top: 0;
			max-width: 100%;
			grid-area: 1 / 1 / -1 / 2;
		}
	}

	.form {
		@include respond-to("medium") {
			grid-area: 1 / -2 / -1 / -1;
		}
	}
}
