/* 	Job Card
   	================================================== */

.posting {
	display: grid;
	grid-template-rows: repeat(4, auto);
	gap: var(--spacer);
	background-color: var(--clr-neutral-100);
	padding-top: clamp(0.5rem, 2.5%, 2rem);
	padding-bottom: clamp(0.5rem, 2.5%, 2rem);
	align-items: center;

	@include respond-to("medium") {
		grid-auto-flow: column;
		grid-template-rows: repeat(3, auto);
		grid-template-columns: auto 1fr 1fr;
	}

	.logo {
		margin-top: -1.5rem;
		max-width: 3rem;

		@include respond-to("medium") {
			margin-top: 0;
			max-width: 100%;
			grid-area: 1 / 1 / -1 / 2;
		}
	}

	.highlight,
	.promoted {
		font-size: var(--step--1);
		text-transform: uppercase;
		font-weight: 700;
		padding: 0.5em 0.75em;
		border-radius: 1em;
		line-height: 0.73rem;
		display: inline-block;
		color: var(--clr-neutral-100);
	}

	.highlight {
		background-color: var(--clr-primary-100);
	}

	.promoted {
		background-color: var(--clr-neutral-600);
	}

	.age,
	.time,
	.location {
		color: var(--clr-neutral-400);
	}

	.form {
		@include respond-to("medium") {
			grid-area: 1 / -2 / -1 / -1;
		}
	}
}
